{% extends '../shared/base.html' %}

{% load static %}
<link rel="stylesheet" href="{% static 'core/login.css' %}">

{% block pageTitle %}
<title>Sign in to your Account</title>
{% endblock %}

{% block content %}
    <div class="container">
      <div class = "jumbotron">
        <h1>Login</h1>
        <form action="/login/" method="POST">{% csrf_token %}
          <div style="color: red">
          {{ form.non_field_errors }}
          </div>
          <table>
            <label>{{ form.username.label_tag }}</label>
            {{ form.username }} <br>
            <label>{{ form.password.label_tag }}</label>
            {{ form.password }} <br>
            <tr><td>
              <input type="submit" class="btn btn-primary" value = "Login"/>
            </td></tr>
            <tr><td class="register-row">Don't have an account? <a href="/join" class="btn btn-secondary">Register</a></td></tr>
          </table>
        </form>
      </div>
    </div>
{% endblock %}