<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <img src="www.unsplash.it.com/300/300" alt="img1" srcset="">
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="www.unsplash.it.com/300/300" alt="img1" srcset="">
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="www.unsplash.it.com/300/300" alt="img1" srcset="">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <video width="300" height="300" 
            controls preload="none" poster="www.unsplash.it/300/300">
                <source src="https://www.videvo.net/video/a-moonshiner-blows-homemade-alcohol-into-a-fire-causing-an-explosion-of-flames-1/631539/" type="video/mov">
            Video cannot be displayed
            </video>
        </div>
        <div class="col">
            <video width="300" height="300" src="https://www.videvo.net/video/a-moonshiner-blows-homemade-alcohol-into-a-fire-causing-an-explosion-of-flames-1/631539/"
            controls preload="none" poster="www.unsplash.it/300/300">
                Video cannot be displayed
            </video>
        </div>
        <div class="col">
            <video width="300" height="300" src="https://www.videvo.net/video/a-moonshiner-blows-homemade-alcohol-into-a-fire-causing-an-explosion-of-flames-1/631539/"
            controls preload="none" poster="https://www.videvo.net/video/a-moonshiner-blows-homemade-alcohol-into-a-fire-causing-an-explosion-of-flames-1/631539/">
                Video cannot be displayed
            </video>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
</div>