<!--  -->
{% extends 'core/base.html' %}
    {% block content %}
        <body>
            <!-- {% include "core/navigation.html" %} -->
            <div class="text-center">
                <h1>Hello, security camera dashboard under construction</h1>
                {% if user.is_authenticated %}
                    <h2>Welcome, {{ user.username }}!</h2>
                {% elif user.is_anonymous %}
                    <h2>Welcome, non-logged-in person!</h2>
                {% else %}
                    <h2>Welcome, stranger!</h2>
                {% endif %}
            </div>
            <hr />
            <div class="container-fluid">
                <div class="col">
                    <div class="row justify-content-md-center">
                        <!-- 2 of three columns -->
                        <h2>cameras</h2>
                    </div>
                    <div class="row justify-content-md-left">
                        <div class="col-6">
                            <!-- cameras -->
                            {% if user.is_authenticated %}
                            
                            <div class="container-fluid">
                            <img src="{% url 'feed' %}" class="vid-feed">
                                <!-- <div class="container-fluid">
                                <img src="{% url 'feed' %}"> -->
                            
                            {% endif %}

                        </div>
                        </div>
                    </div>
                </div>
                
                
            </div> <!-- end of row -->
        
    <!-- end of container -->
        </body>

    {% endblock %}
