body {
    background-color: #082032;
    color: #EEEEEE;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}

hr {
    height: 1px;
    background-color: #ccc;
    border: none;
}