body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}

hr {
    height: 1px;
    background-color: #ccc;
    border: none;
}