{% load static %}
<link rel="stylesheet" href="{% static 'core/nav.css' %}">

<nav class="navbar navbar-expand-md" id="nav-bar">
  <a class="nav-link" href="{% url 'home' %}">Home </a>
  <ul class="navbar-nav">
    {% if not user.is_authenticated %}
      <li>
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
    {% endif %}

    {% if user.is_authenticated %}
    <li>
      <a class="nav-link" href="{% url 'settings' %}">Settings</a>
    </li>
    <li>
      <a class="nav-link" href="{% url 'logout' %}">Logout</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin" target="_blank">Admin</a>
    </li>
    {% endif %}
</nav>