{% extends '../shared/base.html' %}
{% load static %}

{% block pageTitle %}
<title>Video Streaming Gallery</title>
{% endblock %}

{% block content %}
<!-- 3 rows x 3-column of video placeholders -->
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card gallery-item">
                <video class="video" 
                controls preload="none" poster="www.unsplash.it/300/300">
                    <source src="https://www.videvo.net/video/a-moonshiner-blows-homemade-alcohol-into-a-fire-causing-an-explosion-of-flames-1/631539/" type="video/mov">
                Video cannot be displayed
                </video>
            </div>
        </div>
        <div class="col">
            <div class="card gallery-item">
                <video class="video" 
                controls preload="none" poster="www.unsplash.it/300/300">
                    <source src="https://www.videvo.net/video/a-moonshiner-blows-homemade-alcohol-into-a-fire-causing-an-explosion-of-flames-1/631539/" type="video/mov">
                Video cannot be displayed
                </video>
            </div>
        </div>
        <div class="col">
            <div class="card gallery-item">
                <video class="video" 
                controls preload="none" poster="www.unsplash.it/300/300">
                    <source src="https://www.videvo.net/video/a-moonshiner-blows-homemade-alcohol-into-a-fire-causing-an-explosion-of-flames-1/631539/" type="video/mov">
                Video cannot be displayed
                </video>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card gallery-item">
                <video class="video" 
                controls preload="none" poster="www.unsplash.it/300/300">
                    <source src="https://www.videvo.net/video/a-moonshiner-blows-homemade-alcohol-into-a-fire-causing-an-explosion-of-flames-1/631539/" type="video/mov">
                Video cannot be displayed
                </video>
            </div>
        </div>
        <div class="col">
            <div class="card gallery-item">
                <video class="video" 
                controls preload="none" poster="www.unsplash.it/300/300">
                    <source src="https://www.videvo.net/video/a-moonshiner-blows-homemade-alcohol-into-a-fire-causing-an-explosion-of-flames-1/631539/" type="video/mov">
                Video cannot be displayed
                </video>
            </div>
        </div>
        <div class="col">
            <div class="card gallery-item">
                <video class="video" 
                controls preload="none" poster="www.unsplash.it/300/300">
                    <source src="https://www.videvo.net/video/a-moonshiner-blows-homemade-alcohol-into-a-fire-causing-an-explosion-of-flames-1/631539/" type="video/mov">
                Video cannot be displayed
                </video>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card gallery-item">
                <video class="video" 
                controls preload="none" poster="www.unsplash.it/300/300">
                    <source src="https://www.videvo.net/video/a-moonshiner-blows-homemade-alcohol-into-a-fire-causing-an-explosion-of-flames-1/631539/" type="video/mov">
                Video cannot be displayed
                </video>
            </div>
        </div>
        <div class="col">
            <div class="card gallery-item">
                <video class="video" 
                controls preload="none" poster="www.unsplash.it/300/300">
                    <source src="https://www.videvo.net/video/a-moonshiner-blows-homemade-alcohol-into-a-fire-causing-an-explosion-of-flames-1/631539/" type="video/mov">
                Video cannot be displayed
                </video>
            </div>
        </div>
        <div class="col">
            <div class="card gallery-item">
                <video class="video" 
                controls preload="none" poster="www.unsplash.it/300/300">
                    <source src="https://www.videvo.net/video/a-moonshiner-blows-homemade-alcohol-into-a-fire-causing-an-explosion-of-flames-1/631539/" type="video/mov">
                Video cannot be displayed
                </video>
            </div>
        </div>
    </div>
</div>
{% endblock %}

