    <div class="nav">
        <a class="nav-link">
            <i class="material-icons">subscriptions</i>
            <span>Storage Subscriptions</span>
        </a>
    </div>
    <hr>
    <a class="nav-link" href="https://www.dropbox.com/login">
        <span class="iconify material-icons md-36" data-icon="mdi:dropbox" ></span>
        <span>Dropbox</span>
    </a>
    <a class="nav-link" href="https://www.microsoft.com/en-us/microsoft-365/onedrive/online-cloud-storage">
        <span class="iconify material-icons md-36" data-icon="fontisto:onedrive"></span>
        <span>OneDrive</span>
    </a>
    <a class="nav-link">
        <i class="material-icons">history</i>
        <span>Local History</span>
    </a>