<html>
    <head>
        {% load static %}
        {% include "core/bootstrap.html" %}
        <link rel="stylesheet" href="{% static 'core/dash.css' %}">
    </head>

    {% include "core/navigation.html" %}

    <body>

        <!-- camera form -->
        <div class="container">
            <div class = "jumbotron">
              <h1>Settings</h1>
              <form method="GET">{% csrf_token %}
                  <!-- if no camera, then say "No cameras currently configured." -->
                    {% if cameras is empty %}
                        <p>No cameras currently configured.</p>
                    {% else %}
                        <p>Select a camera to configure:</p>
                        <select name="camera">
                            {% for camera in cameras %}
                                <option value="{{ camera.id }}">{{ camera.name }}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <br>
                        <a class="btn btn-secondary" href="add" target="_blank">Add Camera </a>
                        
                    {% endif %}
              </form>
            </div>
          </div>

    </body>
</html>