<html>
  <head>
    {% include "core/bootstrap.html" %}
    {% load static %}
  </head>
  <body>
    {% include "core/navigation.html" %}
    <div class="container">
      <div class = "jumbotron">
        <h1>Login</h1>
        <form action="/login/" method="POST">{% csrf_token %}
          <table>
            {{ login_form.as_table }}
            <tr><td>
              <input type="submit" class="btn btn-primary" value = "Login"/>
            </td></tr>
            <tr><td>Click <a href="/join">here</a> to register.</td></tr>
          </table>
        </form>
      </div>
    </div>
  </body>
</html>
